---
import Section from "./Section.astro";
---

<Section title="Accessories" subtitle="" color="black" showFooterContent="true">
  <div slot="footer">
    <div class="flex justify-center gap-4">
      <a
        class="rounded font-semibold text-sm py-[10px] px-[95px] text-black bg-gray-100/70 backdrop-blur-sm"
        href="#">Shop Now</a
      >
    </div>
  </div>
  <img
    slot="background"
    class="object-center object-cover h-full w-full"
    src="/Charge.avif"
  />
</Section>
