---
import Section from "./Section.astro";
---

<Section
  title="Solar Panels"
  subtitle="Schedule a Virtual Consultation"
  color="black"
>
  <div slot="footer">
    <div class="flex justify-center gap-4">
      <a
        class="rounded font-semibold text-sm py-[10px] px-[95px] text-black bg-gray-100/70 backdrop-blur-sm"
        href="#">Order Now</a
      >
      <a
        class="rounded font-semibold text-sm py-[10px] px-[95px] text-white bg-black/60 backdrop-blur-sm"
        href="#">Learn More</a
      >
    </div>
  </div>

  <img
    slot="background"
    class="object-center object-cover h-full w-full"
    src="/Solar-Panels.avif"
  />
</Section>
